// UTILITY HELPERS

// - Headings: all or range
// - Elements of type: inline, block, html5-inline, html5-block...

#{headings()} { line-height: 1.25em; }

#{headings(2,6)} { font-weight: normal; }

#{elements-of-type(block)} { margin: 10px 0; }


// output css
h1,h2,h3,h4,h5,h6 { line-height: 1.25em; }

h2,h3,h4,h5,h6 { font-weight: normal; }

address, article, aside, blockquote, center, dd,
details, dir, div, dl, dt, fieldset, figcaption,
figure, footer, form, frameset, h1, h2, h3, h4, h5, h6,
header, hgroup, hr, isindex, menu, nav, noframes,
noscript, ol, p, pre, section, summary, ul {
  margin: 10px 0;
}